<app-header></app-header>
<section class="relative bg-white overflow-hidden md:flex bg-white-1">
  <!-- Desktop Background -->
  <img
    src="assets/images/bg-intro-desktop.svg"
    alt="Background"
    class="hidden md:block absolute top-[-144px] right-[-200px] w-[75%] z-0"
  />

  <!-- Mobile Background -->
  <img
    src="assets/images/bg-intro-mobile.svg"
    alt="Background"
    class="block md:hidden absolute top-[-50px] left-0 w-full z-0"
  />

  <!-- Content Wrapper -->
  <div class="flex flex-col-reverse xl:flex-row items-center justify-between px-6 md:px-16 pt-16 md:pt-16">

    <!-- Text Content -->
    <div class="text-center xl:text-left xl:w-1/2 z-10 pt-16">
      <h1 class="text-3xl md:text-5xl font-semibold text-gray-900 mb-6">
        Next generation digital banking
      </h1>
      <p class="text-gray-500 text-sm md:text-base mb-6 w-full md:w-2/3 xl:w-2/3 md:w-full">
        Take your financial life online. Your Easybank account will be a one-stop-shop for spending, saving, budgeting, investing, and much more.
      </p>
      <button
        class="text-white py-2 px-6 mb-4 rounded-full text-sm "
        style="background: linear-gradient(to right, var(--green-500), var(--cyan-400));"
      >
        Request Invite
      </button>
    </div>

    <!-- Mockup Image (Phones) -->
    <div class="relative w-full xl:w-1/2 mb-[-50px] md:mb-[-120px] z-10">
      <img
        src="assets/images/image-mockups.png"
        alt="Mockups"
        class="w-[90%] md:w-full mx-auto"
      />
    </div>
  </div>
</section>
<app-bank-services></app-bank-services>
<app-article-card></app-article-card>
<app-footer></app-footer>

