<section class="bg-white-1 px-16 flex flex-col pb-8">
  <h2 class="my-4 font-public text-4xl font-light text-blue-450 leading-[150%]">Latest Articles</h2>

  <div class="flex flex-col items-center md:flex-row md:justify-between">
    <ng-container *ngFor="let article of articles">
        <div class="w-[256px] box-border rounded-b-lg bg-white mb-8  flex flex-col justify-between items-center md:items-start">
            <div><img class="pb-4 rounded-t-lg h-[200px]" [src]="article.imageUrl" [alt]="article.title + 'related image'"></div>
            <div class="p-[24px]">
                <h3 class="text-base overflow-hidden break-words p-[2px] font-light text-black text-wrap text-center md:text-left pb-4 font-public"> {{ article.title }}</h3>
                <p class="line-clamp-3 break-words text-sm text-center text-wrap md:text-left font-normal leading-[150%] mb-4 font-normal text-grey-1">{{ article.description }}</p>
            </div>
        </div>
    </ng-container>
  </div>
</section>
